  .client-property-show {
    margin-top: 70px;
  .negotiation {
    font-size: 20px;
    margin: 3px 0 0 20px;

  }
    .info-card {
    background: white;
    padding: 1em;
    margin: 1em 0;
  }

  .info-card  {
    h3 {
      margin: 5px 0;
    }
    p {
    }
  }

  .slider-wrapper {
    background: white;
    padding: 2em 2em 3px 2em;
    margin: 1em 0;
  }

  .slider-wrapper .slider-for .image {
    display: flex !important;
    justify-content: center;

  }

  .slick-prev:before, .slick-next:before {
    color:black !important;
  }


  /*Contact Card Style*/

  .contact-card {
    background: white;
    margin-top: 19px;
    padding: 1em;
  }

  .form {
    margin: 1em;
    padding: 1em;

  }
  .contato {
    background: #fe7e01;;
    border: none;
  }


  /*Reference to the show page*/
  .property-title {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
  }

  }

