  .client-property-show {
    margin-top: 75px;
  .negotiation {
    font-size: 20px;
    margin: 3px 0 0 20px;

  }
    .info-card {
    background: white;
    padding: 1em;
    margin: 1em 0;
  }

  .info-card  {
    h3 {
      margin: 5px 0;
    }
    p {
    }
  }
  .slider-wrapper{
      margin-top: 15px;
    }

  .slider-for-client {
    margin: 1em 0;
  }

  .slider-for-client .image {
    display: flex !important;
    justify-content: center;
  }

  .slick-prev {
    left: 25px;
    z-index: 1000;
  }
  .slick-next {
    right: 52px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 45px
  }

  /*Contact Card Style*/

  .contact-card {
    background: white;
    margin-top: 19px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    padding: 1em;
  }

  .form {
    margin: 1em;
    padding: 1em;

  }
  .contato {
    background: #fe7e01;;
    border: none;
  }


  /*Reference to the show page*/
  .property-title {
    font-size: 30px;
    padding-left: 10px;
  }

  .price-tabel {
    width:100%;
    font-weight: 300;
    font-size: 15px;
    tr td:first-child {
      text-align: left;
    }
    tr td:nth-child(2) {
      text-align: right;
    }
  }
}

