  .detail {
    background: #FF7C2E;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px;
    font-weight: 300;
  }

  #detail {
    width: 30%;
    height: 35px;
    margin: 10px 10px 0 41px;
  }

  .x-detail {
    cursor: pointer;
    font-size: 12px;
    padding: 3px 6px 3px 0px;
    margin: 1px;
    align-items: center;
    font-weight: 300;
  }

  #submit-detail {
    float: right;
  }

  .ui-helper-hidden-accessible {
    display:none;
  }

  #detail-submit {
    background: rgb(0,100,191);
    color:white;
    border-radius: 50%;
    font-size: 15px;

  }

  #detail-submit:hover {
    opacity: 0.7;
  }

  .fa-input {
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-weight: 100;

  }

  .form-detail-wrapper {
    position: relative;

  }

  .detail-alert {
    position: absolute;
    left: 40px;
    font-size: 12px;
    color: red;
  }

  .form {
    overflow: hidden;
    padding: 0 0 20px 0;
  }
