.landlord {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
  }

 .landlord-info {
  background-color: white;
  border: 1px solid black;
  margin-top: 12px ;
  padding: 0.5em;
  box-shadow: 2px 2px 5px #808080;
 }

 .landlord-property-card {
  background-color: white;
  margin:0.5em 0;
  padding:0.5em;
 }

