.home-title {
    color: #fe7e01;
    font-weight: 300;
    font-size: 30px;
  }

  .slick-prev:before, .slick-next:before {
    color: #fe7e01;
  }

  .sign-up {
    padding: 1em;
    background:#fe7e01;
    height: 35vh;
  }

  .sign-up h3 {
    font-size: 30px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer {
    padding: 2em 7em 0;
    background: black;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  h5 {
    padding-bottom: 5px;
    border-bottom: 3px solid #fe7e01;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .footer ul > li{
    font-weight: 300;
  }

  .sign-up-button {
    background: black;
    border: none;
  }

  .social {
    display: flex;
    justify-content: space-between;
  }

  .social i {
    color:#fe7e01;
    font-size: 40px;
  }



