.title {
  font-size: 35px;
  color: #4c4c4c;
}


.landlord-show-wrapper {
  margin: 0 1em 1em 0;

.landlord {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 27px;
  }

 .landlord-info {
  background-color: white;
  border-top: 3px solid  $orangehertz;
  margin-top: 12px ;
  padding: 0.5em;
  box-shadow: 0px 0px 4px $shadow;
  position:relative;

  #property-count{
    margin-top: 10px
  }

  h3 {
    margin-top: 5px;
  }

  .small-info {
    margin: 0 15px;
  }

  p {
    margin: 0.3em 0;
  }

  .landlord-edit {
    position:absolute;
    top:0.5em;
    right: 0.5em;

  }
 }
}
