.property-show {
  .info-card {
    background: white;
    padding: 1em;
    margin: 1em 0;
  }

  .info-card p {
    font-weight: 900;
  }

  .slider-wrapper {
    background: white;
    padding: 2em 2em 3px 2em;
    margin: 1em 0;
  }

  .slider-wrapper .slider-for .image {
    display: flex !important;
    justify-content: center;

  }

  .slick-prev:before, .slick-next:before {
    color:black !important;
  }
}



