<style>


</style>
<div class="container">
<h3>Imoveis Cadastrados</h3>
  <div class="row">
    <% @properties_rent.each do |property| %>
      <div class="col-lg-3">
        <%= render 'shared/client_property_card', property: property  %>
      </div>
    <% end %>
  </div>

</div>
