<style>
  .home-title {
    color: #fe7e01;
    font-weight: 300;
    font-size: 30px;
  }

  .slick-prev:before, .slick-next:before {
    color: #fe7e01;
  }

  .sign-up {
    padding: 1em;
    background:#fe7e01;
    height: 35vh;
  }

  .sign-up h3 {
    font-size: 30px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer {
    padding: 2em 7em 0;
    background: black;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  h5 {
    padding-bottom: 5px;
    border-bottom: 3px solid #fe7e01;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .footer ul > li{
    font-weight: 300;
  }

  .sign-up-button {
    background: black;
    border: none;
  }

  .social {
    display: flex;
    justify-content: space-between;
  }

  .social i {
    color:#fe7e01;
    font-size: 40px;
  }
</style>


<div class="container">
  <h4 class="home-title">Destaques de Venda</h4>
  <div class="row">
    <div class="sale">
      <% @properties_sale.each do |property| %>
        <div class="col-lg-3">
          <%= render 'shared/client_property_card', property: property  %>
        </div>
      <% end %>
    </div>
  </div>
  <h4 class="home-title">Destaques de Locação</h4>
  <div class="row">
    <div class="rent">
      <% @properties_rent.each do |property| %>
        <div class="col-lg-3">
          <%= render 'shared/client_property_card', property: property  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="sign-up text-center">
  <h3>Alugando ou Vendendo?</h3>
  <%= link_to "Cadastre Seu Imovel", "#" , class: 'btn btn-primary btn-lg sign-up-button'  %>
</div>


<div class="footer">

  <div class="menu">
    <h5>MENU</h5>
    <ul>
      <li>Home</li>
      <li>Empresa</li>
      <li>Anuncie Aqui</li>
      <li>Contato</li>
      <li>Enviar Depoimento</li>
    </ul>
  </div>

  <div class="veja-tambem">
    <h5>VEJA TAMBEM</h5>
    <ul>
      <li>Apartamento</li>
      <li>Casa</li>
      <li>Cobertura</li>
      <li>Kitnet</li>
      <li>Emprendimento</li>
    </ul>

  </div>

  <div class="contato">
    <h5>CONTATO</h5>
    <ul>
      <li>Rua Baraldi, 740 - Centro</li>
      <li>São Caetano do Sul - SP</li>
      <li>Creci: J-4909</li>
    </ul>
    <div class="social">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
  </div>

</div>



<% content_for :js do %>
<script type="text/javascript">

  $('.sale').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500
  });

  $('.rent').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 4500
  });

</script>

<% end %>
