<div class="banner" style="background-image: linear-gradient(-135deg, rgba(0,100,191,0.2) 15%, rgba(50,78,123,0.6) 100%), url(<%= image_path('banner.jpg') %>);">

      <div class="container">
        <div class="row">
          <h1 class="text-center header">Descubra sua proxima casa</h1>
          <div class="search">
            <%= simple_form_for :index, url: properties_path, method: :get do |f| %>
            <div class="col-sm-5 col-sm-offset-3">
              <%= f.input :query, label: false, placeholder: "Busque por bairro, rua ou codigo" %>
            </div>
            <div class="col-sm-1">
              <div class="search-icon">
                <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                  <i class="fa fa-search" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

  </div>


