<div class="footer">

  <div class="menu">
    <h5>MENU</h5>
    <ul>
      <li>Home</li>
      <li>Empresa</li>
      <li>Anuncie Aqui</li>
      <li>Contato</li>
      <li>Enviar Depoimento</li>
    </ul>
  </div>

  <div class="veja-tambem">
    <h5>VEJA TAMBEM</h5>
    <ul>
      <li>Apartamento</li>
      <li>Casa</li>
      <li>Cobertura</li>
      <li>Kitnet</li>
      <li>Emprendimento</li>
    </ul>

  </div>

  <div class="contato">
    <h5>CONTATO</h5>
    <ul>
      <li>Rua Baraldi, 740 - Centro</li>
      <li>São Caetano do Sul - SP</li>
      <li>Creci: J-4909</li>
    </ul>
    <div class="social">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
  </div>
</div>

