<style>
.sidebar {
  background-color: white;
  margin: 1em;
  padding: 0.5em;


}

.sidebar ul > li {
  margin: 10px 1px 5px 0;
}



</style>


<div class="sidebar">
  <ul>
    <li>Visão Geral</li>
    <li>Proprietarios</li>
    <li>Imoveis</li>
    <li>Emprendimentos</li>
    <li>Messagens</li>
  </ul>

</div>
