<style>
.sidebar {
  background-color: white;
  margin: 1em;
  padding:-1px;
  border: 1px solid black;

}

.sidebar ul {
    margin-left: -2em;
}


.sidebar ul > li {
  border-top: 1px solid black;
  list-style: none;
}



</style>


<div class="sidebar">
  <ul>
    <li>Visão Geral</li>
    <li>Proprietarios</li>
    <li>Imoveis</li>
    <li>Emprendimentos</li>
    <li>Messagens</li>
  </ul>

</div>
