<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="landlord">
    <h3>Proprietarios</h3>
      <%= link_to "+ Cadastrar Novo Proprietario", new_admin_landlord_path, class: "btn btn-danger" %>
    </div>

    <form action="" class="landlord-search">
      <input type="text" name="search" placeholder="Pesquiça rapida" class="input">
      <input type="submit" class="button">
    </form>

    <% @landlords.each do |landlord| %>
      <%= render 'shared/landlord_card', landlord: landlord  %>
    <% end %>
  </div>
</div>

