
.banner {
  height:90vh;
  background-size: cover;
  background-repeat: no-repeat;

  .header {
    color: white;
    margin-top: 30vh;
  }

  .search {
    margin-top:20vh;
    input {
      left: 40px;
      width: 417px;
      position: relative;
    }
    .search-icon {
      position:relative;
      right: 30px;
    }
  }
}





