
.banner {
  height: 20vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .header {
    color: white;
    margin-top: 40px;
  }

  .search {
    margin-top:25px;
    input {
      left: 40px;
      width: 417px;
      position: relative;
    }
    .search-icon {
      position:relative;
      right: 30px;
    }
  }
}





