  .dashboard-card {
    background: white;
    margin: 10px;
    padding: 3px 10px;
    max-width: 300px;
    height: 160px;
    box-shadow: 1px 1px 4px #999999;
    display: flex;
    flex-direction:column;
    justify-content:space-between;

    .title {
      h3 {
        font-size: 25px;
        margin: 10px 3px 5px 3px;
      }

      p {
        font-size: 14px;
        padding: 0;
        margin: 5px 5px;
        color: #999999;
      }
    }
    .data {
      display: flex;
      justify-content: center;
      align-items:flex-end;
      height: 100%;
      font-size: 60px;
      font-weight: 300;
    }
  }

#dashboard-graph {
  background: white;
  padding: 10px 40px;
  margin: 10px 10px 30px 10px;
  box-shadow: 1px 1px 4px #999999;
  display: flex;
  flex-direction:column;
  align-items: center;
}
