.landlord-card {
    background-color: white;
    padding:0.5em;
    margin:0.5em 1em;
    box-shadow: 1px 1px 3px $shadow;
    position:relative;
    border-top: 5px solid $orangehertz;
    display:flex;

    .info {
    line-height: 90%;
    margin-left: 10px;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

  }

  .landlord-card p {
    margin: 0 0 8px;

  }

.landlord-card .landlord-card-control {
    position:absolute;
    top:0.3em;
    right:0.5em;
  }

  .landlord-card .landlord-card-link a {
    position:absolute;
    background-color: black;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:100;
    transition: all 0.5s ease;
  }

   .landlord-card .landlord-card-link a:hover {
    opacity:0.1;
  }

.info .landlord-name {
  font-weight: 700;
  margin-bottom: 27px;
  text-decoration: underline;
  font-size: 18px;
}

.booked {
  margin-top: 27px;
}
