.sidebar {
  background-color: white;
  margin: 1em 0;
  border: 1px solid black;
  box-shadow: 2px 2px 5px #808080;

  .sidebar-button {
    display:block;
    width:100%;
    padding: 0.5em;
    text-decoration: none;
    color: black;

    &:hover{
      background-color: $orangehertz;
      color:white;
   }
  }
}

