<div class="wrapper">
  <%= render 'shared/form_menu.html.erb', activate: "address" %>
    <div class="form">
      <div class="description">
        <h1 style="font-size: 30px;">Endereço da Imovel</h1>
        <h2 style="font-size: 20px;">Prencha as a localicade do imovel</h2>
      </div>
      <%= render 'form_address', property: @property, property_address: @property_address %>
    </div>
</div>
