<div class="wrapper-form">
  <%= render 'shared/form_menu.html.erb', activate: "area" %>
    <div class="form">
      <div class="description">
        <h1 style="font-size: 30px;">Area do Imóvel</h1>
        <h2 style="font-size: 20px;">Prencha as áreas sobre imovel</h2>
      </div>
      <%= render 'admin/properties/form_area', property: @property, property_area: @property_area %>
    </div>
</div>
