<div class="wrapper">
  <%= render 'shared/form_menu.html.erb', activate: "area" %>
    <div class="form">
      <div class="description">
        <h1 style="font-size: 30px;">Area do Imóvel</h1>
        <h2 style="font-size: 20px;">Prencha as a área do imovel</h2>
      </div>
      <%= render 'form_area', landlord: @landlord, property: @property, property_area: @property_area %>
    </div>
</div>
