<div class="row">
  <div class="col-md-4">
    <%= render 'shared/dashboard_simple_card', title: 'Proprietarios', subtitle: 'Casdastros Ativos', data: @landlords.count  %>
  </div>

  <div class="col-md-4">
    <%= render 'shared/dashboard_simple_card', title: 'Propriedades', subtitle: 'Casdastros Ativos', data: @properties.count  %>
  </div>

  <div class="col-md-4">
    <%= render 'shared/dashboard_simple_card', title: 'Emprendimentos', subtitle: 'Casdastros Ativos', data: 0  %>
  </div>
</div>

