<div class="row">
  <div class="col-md-12">
    <h1>Propriedades</h1>
      <%= form_tag(admin_properties_path, method: :get) do  %>
      <%= text_field_tag :query, nil, placeholder: 'Procure por código ou rua', class: 'form-property-search' %>
      <%= submit_tag("Procurar Propriedade") %>
    <% end %>
    <% if @properties.empty? %>
      <p>Não tem propriedades casdastradas</p>
    <% else %>
      <% @properties.each do |property| %>
        <%= render 'shared/property_card', property: property %>
      <% end %>
    <% end %>
  </div>
</div>



