<div class="wrapper-form">
  <%= render 'shared/form_menu.html.erb', activate: "photos" %>
    <div class="form">
      <div class="description">
        <h1 style="font-size: 30px;" > Fotos do Imóvel </h1>
        <h2 style="font-size: 20px; "> Adicione as fotos </h2>
      </div>
      <div class="zone">

      </div>
      <div class="form-property">
        <%= simple_form_for([:admin, @property])do |f| %>
          <%= f.input :photos, as: :attachinary, input_html: { class: 'input-zone' } %>
          <%= f.button :submit, "Salvar", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
</div>

