<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <h2> Propriedade </h2>
    <ul>
      <br>
      <li><%= @property.code %></li>
      <li><%= @property.landlord.name %></li>
    </ul>
    <%= link_to "Deletar", admin_property_path(@property), data: {confirm: 'Tem certeza que quer deletar a propriedade?'}, class: "btn btn-danger", method: :delete  %>
  </div>
</div>






<!--
  #   create_table "properties", force: :cascade do |t|
  #   t.integer  "landlord_id"
  #   t.integer  "code"
  #   t.string   "bussiness_type"
  #   t.string   "property_type"
  #   t.string   "property_kind"
  #   t.string   "property_state"
  #   t.string   "position"
  #   t.string   "style"
  #   t.integer  "construction_year"
  #   t.integer  "bathrooms"
  #   t.integer  "rooms"
  #   t.integer  "garages"
  #   t.integer  "suites"
  #   t.text     "description"
  #   t.boolean  "published",         default: false
  #   t.text     "conditions"
  #   t.datetime "created_at",                        null: false
  #   t.datetime "updated_at",                        null: false
  #   t.index ["landlord_id"], name: "index_properties_on_landlord_id", using: :btree
  # end

  # create_table "property_addresses", force: :cascade do |t|
  #   t.string   "cep"
  #   t.string   "country"
  #   t.string   "state"
  #   t.string   "city"
  #   t.string   "neighborhood"
  #   t.string   "street"
  #   t.string   "number"
  #   t.string   "complement"
  #   t.string   "condo_name"
  #   t.integer  "property_id"
  #   t.datetime "created_at",   null: false
  #   t.datetime "updated_at",   null: false
  #   t.index ["property_id"], name: "index_property_addresses_on_property_id", using: :btree
  # end

  # create_table "property_areas", force: :cascade do |t|
  #   t.string   "scale"
  #   t.float    "total_area"
  #   t.float    "usable_area"
  #   t.float    "area_land"
  #   t.integer  "property_id"
  #   t.datetime "created_at",  null: false
  #   t.datetime "updated_at",  null: false
  #   t.index ["property_id"], name: "index_property_areas_on_property_id", using: :btree
  # end

  # create_table "property_values", force: :cascade do |t|
  #   t.decimal  "value"
  #   t.decimal  "iptu"
  #   t.decimal  "condo_amount"
  #   t.decimal  "rate"
  #   t.integer  "property_id"
  #   t.datetime "created_at",   null: false
  #   t.datetime "updated_at",   null: false
  #   t.index ["property_id"], name: "index_property_values_on_property_id", using: :btree
%>
 -->
