
<% if @property.errors.any? %>
  // $('#profeatpubl').append("<span>Houve um problema, tente novamente mais tarde</span>")
<% else %>
  // $('#profeatpubl').append("<span>Atualizado corretamente</span>")
  $('#notifications').append(<%= j render "shared/flashes", notice: notice %>);
<% end %>
