<div class="wrapper-form">
  <%= render 'shared/form_menu.html.erb', activate: "value" %>
    <div class="form">
      <div class="description">
        <h1 style="font-size: 30px; ">Valores do Imóvel</h1>
        <h2 style="font-size: 20px;"> Adicione os valores do imóvel</h2>
      </div>
      <%= render 'form_value', property: @property, property_value: @property_value %>
    </div>
</div>

