<p>Olá <%= @contact_details.name  %></p>

<p>Recebemos seu interese na seguinte propriedade:</p>
<p>Codigo: <%= @contact_details.property.id %></p>

<p>Embreve entraremos em contato com mais detalhes.</p>

